.property-container{
    max-width: 80vw;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.header-container{
    max-width:75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 2rem auto 1rem;

}
input{
    height:1rem;
    padding:0.4rem ;
    border-radius:10px;
    border-style: 1px solid grey;
}
input:focus{
    outline: none;
}
h1{
    margin: 0%;
    font-weight: 500;
}

h4{
   margin-left: 10rem;
}