.property-container{
    max-width: 60vw;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}


input{
    height:1rem;
    padding:0.6rem ;
    border-radius:5px;
    border: none;
}
input:focus{
    outline: none;
}
h1{
    margin: 0%;
    font-weight: 500;
}

h4{
   margin-left: 10rem;
}
.property-notfound{
    margin: 2rem;
    font-size: 25px;
    color: black;
}