.filter-container{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width:60vw;
    height: 10vh;
    background-color:white;
    margin: auto;
}

.filter-property{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-label{
    color:#9ca3af;
    font-size:small;
    font-weight: 500;
    padding: 0rem 0.7rem;
}
.filter-select{
    padding: 0.2rem 0.4rem;
    border: none;
    font-size: small;
    font-weight: 600;
}
.filter-select:focus{
    outline: none;
}
.filter-button{
    background-color: #6164f7;
    color: white;
    border:none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    
}
.clear-filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 55%;
    margin: auto;
    padding: 0.5rem;
}
.clear-filter li{
    list-style: none;
    border-bottom:1px solid #6164f7;
    cursor:pointer;

}